.root-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .root-layout {
    flex-direction: column;
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  text-align: left;
}

@media (max-width: 1024px) {
  .app-container {
    flex-direction: column;
  }
}

.main-content {
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.main-content h1 {
  margin: 0 0 8px 0;
}

.main-content p {
  color: var(--text);
  margin-top: 0;
}
